@tailwind base;
@tailwind components;
@tailwind utilities;

.dj {
  display: inline-block;
  position: relative;
}
.dj:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #ff5e14;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.dj:hover:after {
  width: 100%;
  left: 0;
}

.mySwiper .swiper-button-next {
  color: #ff5e14;
}
.mySwiper .swiper-button-prev {
  color: #ff5e14;
}
.mySwiper .swiper-pagination-bullet {
  background-color: #ff5e14;
}

@media screen and (max-width: 600px) {
  .mySwiper .swiper-button-next {
    display: none;
  }
  .mySwiper .swiper-button-prev {
    display: none;
  }
}

.bgggg {
  position: absolute;
  top: 0;
  background-color: #ff5e14;
  /* background: rgb(2, 2, 23);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 23, 0.6530987394957983) 7%,
    rgba(9, 9, 121, 0.3309698879551821) 39%,
    rgba(0, 0, 0, 0.7035189075630253) 96%
  ); */
}
